@media screen and (min-width: 750px) {

    /********
    GENERAL
    *********/
    
    body {
        margin: 8px auto;
        width: 85%;
    }

    /********
    HEADER
    *********/

    header {
        border-spacing: 5px 0;
        padding: 2px 0;
    }

    header h1 {
        display: inline-block;
        font-size: 1em
    }

    #login-link {
        font-size: 1em;
    }

    
    /********
    HEADER NAV
    *********/
    
    header nav {
        display: inline-block;
        margin-left: 5px;
        font-size: 1em;
    }

    /********
    MAIN
    *********/

    main {
        font-size: 1em;
    }

    main li.post div.vote-arrow-link {
        width: 10px;
    }

    main li.post img.vote-arrow {
        height: 10px;
        width: 10px;
        margin: 0 2px;
    }

    main li.post p.post-title-and-domain {
        margin: 0 0 2px 0;
    }

    main li.post span.post-domain {
        font-size: 0.8em;
    }

    footer form#search {
        display: table;        
        width: 40%;
        margin: 0 auto;
        border-spacing: 5px 0;
        box-sizing: content-box;
    }

    footer form#search label {
        display: table-cell;
        width: 1px;
    }
    
    footer form#search input {
        display: table-cell;        
        line-height: 1.5em;
    }
}
